
<%# ---------------- Include Header Partial ---------------- %>
<%- include('partials/header', { title , user: user }) %>


<h1>Post Details</h1>



<%# ---------------- Include Footer Partial ---------------- %>
<%- include('partials/footer') %>