<%# ---------------- Include Header Partial ---------------- %>
<%- include('partials/header', { title , user: user }) %>

<h1> Posts</h1>


<%# ---------------- Include Footer Partial ---------------- %>
<%- include('partials/footer') %>
