<%# ---------------- Include Header Partial ---------------- %>
<%- include('partials/header', { title: 'Profile', user: user }) %>



<h1> User Profile </h1>




<%# ---------------- Include Footer Partial ---------------- %>
<%- include('partials/footer') %>